body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game-info {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .game-board {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .game-mode {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .main-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-segment {
    margin-top: 20px;
    margin-bottom: 10px;
  }

.green{
  background-color: green;
}

.orange{
  background-color: orange;
}

.red{
  background-color: red;
}

.div {
  display : inline-block;

}

.settings-button {
  width: 100%;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
    height: 100%;
    justify-content: center;
    align-items: center;
} */